<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t "layout.footer" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static-page.about.title"), about_path %></li>
      <li><%= link_to t("static-page.help.title"), help_path %></li>
    </ul>
  </nav>
</footer>